<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BalanceChecker.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <BalanceChecker.Settings>
            <setting name="AmountRegExList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Na rahunku: ([0-9,\.]+) grn\.</string>
                        <string>([0-9,\.]+) UAH,</string>
                        <string>Na Vashomu rahunku ([0-9,\.]+) grn</string>
                        <string>Balans ([0-9,\.]+)hrn</string>
                        <string>Balans ([0-9,\.]+) hrn</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CheckBalanceNumberList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*111#</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="USSDSendTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="SerialPortTimeout" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>d:\log.txt</value>
            </setting>
            <setting name="ServiceStopTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SipGsmServiceName" serializeAs="String">
                <value>SipGsmService</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckerInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HTTPPort" serializeAs="String">
                <value>8182</value>
            </setting>
            <setting name="UseTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseHTTP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirewallRuleName" serializeAs="String">
                <value>Balance Checker HTTP Server</value>
            </setting>
            <setting name="FirewallRuleDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="SipGsmStatusHtml" serializeAs="String">
                <value>&lt;html&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;Status&lt;/title&gt;
&lt;/head&gt;
&lt;body bgcolor = {0}&gt;
 &lt;h2 align="center"&gt;{1}&lt;/h2&gt;
&lt;/body&gt;
&lt;/html&gt;</value>
            </setting>
            <setting name="WaitForStatusTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="LastCheckBalanceDate" serializeAs="String">
                <value>2015-01-05</value>
            </setting>
        </BalanceChecker.Settings>
    </userSettings>
</configuration>
