<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BalanceChecker.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <BalanceChecker.Settings>
            <setting name="AmountRegExList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Na rahunku: (.*) grn\.</string>
                        <string>(.*) UAH,</string>
                        <string>Na Vashomu rahunku (.*) grn</string>
                        <string>Balans (.*) hrn</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CheckBalanceNumberList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*111#</string>
                        <string>*101#</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="USSDSendTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="SerialPortTimeout" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>d:\log.txt</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>10.8.0.1</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>gsm</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>z4PtGjDsz9d8</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>switch</value>
            </setting>
            <setting name="ServiceStopTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SipGsmServiceName" serializeAs="String">
                <value>SipGsmService</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckerInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="HTTPPort" serializeAs="String">
                <value>8182</value>
            </setting>
            <setting name="UseTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseHTTP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirewallRuleName" serializeAs="String">
                <value>Balance Checker HTTP Server</value>
            </setting>
            <setting name="FirewallRuleDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfigTemplate" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;config version="101029"&gt;
  &lt;sip&gt;
    &lt;registration&gt;&lt;![CDATA[1]]&gt;&lt;/registration&gt;
    &lt;registration_interval&gt;&lt;![CDATA[60]]&gt;&lt;/registration_interval&gt;
    &lt;domain&gt;&lt;![CDATA[10.8.0.1]]&gt;&lt;/domain&gt;
    &lt;domain_port&gt;&lt;![CDATA[5060]]&gt;&lt;/domain_port&gt;
    &lt;proxy&gt;&lt;![CDATA[10.8.0.1]]&gt;&lt;/proxy&gt;
    &lt;proxy_port&gt;&lt;![CDATA[5060]]&gt;&lt;/proxy_port&gt;
    &lt;local_port&gt;&lt;![CDATA[{0}]]&gt;&lt;/local_port&gt;
    &lt;user_name&gt;&lt;![CDATA[{1}]]&gt;&lt;/user_name&gt;
    &lt;login&gt;&lt;![CDATA[{2}]]&gt;&lt;/login&gt;
    &lt;password&gt;&lt;![CDATA[1234]]&gt;&lt;/password&gt;
    &lt;keepalive&gt;&lt;![CDATA[1]]&gt;&lt;/keepalive&gt;
    &lt;keepalive_interval&gt;&lt;![CDATA[30]]&gt;&lt;/keepalive_interval&gt;
    &lt;dtmf_type&gt;&lt;![CDATA[SIP_DTMF_RFC2833]]&gt;&lt;/dtmf_type&gt;
    &lt;codec1&gt;&lt;![CDATA[SIP_CODEC_G729]]&gt;&lt;/codec1&gt;
    &lt;codec2&gt;&lt;![CDATA[SIP_CODEC_GSM]]&gt;&lt;/codec2&gt;
    &lt;codec3&gt;&lt;![CDATA[SIP_CODEC_G711U]]&gt;&lt;/codec3&gt;
    &lt;codec4&gt;&lt;![CDATA[SIP_CODEC_G711A]]&gt;&lt;/codec4&gt;
    &lt;cid_where&gt;&lt;![CDATA[SIPCID_FROM]]&gt;&lt;/cid_where&gt;
    &lt;rejection_code&gt;&lt;![CDATA[480]]&gt;&lt;/rejection_code&gt;
  &lt;/sip&gt;
  &lt;gsm&gt;
    &lt;record_in&gt;&lt;![CDATA[0]]&gt;&lt;/record_in&gt;
    &lt;record_out&gt;&lt;![CDATA[0]]&gt;&lt;/record_out&gt;
    &lt;record_sip&gt;&lt;![CDATA[0]]&gt;&lt;/record_sip&gt;
    &lt;cid_from&gt;&lt;![CDATA[GSMCID_CID]]&gt;&lt;/cid_from&gt;
    &lt;jitter_max&gt;&lt;![CDATA[4]]&gt;&lt;/jitter_max&gt;
    &lt;jitter_half&gt;&lt;![CDATA[2]]&gt;&lt;/jitter_half&gt;
    &lt;jitter_fill_if_empty&gt;&lt;![CDATA[0]]&gt;&lt;/jitter_fill_if_empty&gt;
    &lt;audio_rxgain&gt;&lt;![CDATA[1,00]]&gt;&lt;/audio_rxgain&gt;
    &lt;audio_txgain&gt;&lt;![CDATA[1,00]]&gt;&lt;/audio_txgain&gt;
    &lt;only_2G&gt;&lt;![CDATA[0]]&gt;&lt;/only_2G&gt;
    &lt;dtmf_row_0&gt;&lt;![CDATA[697,0]]&gt;&lt;/dtmf_row_0&gt;
    &lt;dtmf_row_1&gt;&lt;![CDATA[770,0]]&gt;&lt;/dtmf_row_1&gt;
    &lt;dtmf_row_2&gt;&lt;![CDATA[852,0]]&gt;&lt;/dtmf_row_2&gt;
    &lt;dtmf_row_3&gt;&lt;![CDATA[941,0]]&gt;&lt;/dtmf_row_3&gt;
    &lt;dtmf_col_0&gt;&lt;![CDATA[1209,0]]&gt;&lt;/dtmf_col_0&gt;
    &lt;dtmf_col_1&gt;&lt;![CDATA[1336,0]]&gt;&lt;/dtmf_col_1&gt;
    &lt;dtmf_col_2&gt;&lt;![CDATA[1477,0]]&gt;&lt;/dtmf_col_2&gt;
    &lt;dtmf_col_3&gt;&lt;![CDATA[1633,0]]&gt;&lt;/dtmf_col_3&gt;
    &lt;atd_response_timeout&gt;&lt;![CDATA[1000]]&gt;&lt;/atd_response_timeout&gt;
  &lt;/gsm&gt;
  &lt;gate&gt;
    &lt;work_mode&gt;&lt;![CDATA[GATE]]&gt;&lt;/work_mode&gt;
    &lt;sip_default_number&gt;&lt;![CDATA[]]&gt;&lt;/sip_default_number&gt;
    &lt;gsm_default_number&gt;&lt;![CDATA[]]&gt;&lt;/gsm_default_number&gt;
    &lt;gsm_dialing_timeout&gt;&lt;![CDATA[10000]]&gt;&lt;/gsm_dialing_timeout&gt;
    &lt;sip_gsm_commutate&gt;&lt;![CDATA[0]]&gt;&lt;/sip_gsm_commutate&gt;
    &lt;send_progress&gt;&lt;![CDATA[1]]&gt;&lt;/send_progress&gt;
    &lt;dial_wait_timeout&gt;&lt;![CDATA[30000]]&gt;&lt;/dial_wait_timeout&gt;
    &lt;dial_end_symbol&gt;&lt;![CDATA[#]]&gt;&lt;/dial_end_symbol&gt;
    &lt;dial_end_timeout&gt;&lt;![CDATA[5000]]&gt;&lt;/dial_end_timeout&gt;
    &lt;check_sip_prefix&gt;&lt;![CDATA[1]]&gt;&lt;/check_sip_prefix&gt;
    &lt;sip2gsm_only_default_number&gt;&lt;![CDATA[0]]&gt;&lt;/sip2gsm_only_default_number&gt;
  &lt;/gate&gt;
&lt;/config&gt;</value>
            </setting>
        </BalanceChecker.Settings>
    </userSettings>
</configuration>
