<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BalanceChecker.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <BalanceChecker.Settings>
            <setting name="AmountRegExList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Na rahunku: (.*) grn\.</string>
                        <string>(.*) UAH,</string>
                        <string>Na Vashomu rahunku (.*) grn</string>
                        <string>Balans (.*) hrn</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CheckBalanceNumberList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*111#</string>
                        <string>*101#</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="USSDSendTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="SerialPortTimeout" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>d:\log.txt</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>178.238.229.198</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>gsm</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>z4PtGjDsz9d8</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>switch</value>
            </setting>
            <setting name="ServiceStopTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SipGsmServiceName" serializeAs="String">
                <value>SipGsmService</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>False</value>
            </setting>
        </BalanceChecker.Settings>
    </userSettings>
</configuration>
